:root {
  /* Font Families */
  --font-main: system-ui, Roboto, Helvetica, Arial, sans-serif;

  /* Colors for Dark Mode (Default) */
  --color-text-dark: #ffffff;
  --color-background-dark: #242424;
  --color-component-dark: #474646;

  /* Colors for Light Mode */
  --color-text-light: #213547;
  --color-background-light: #c0c0c0;
  --color-component-light: #ffffff;
  --color-button-light: #c3c0c0;

  /* Other Base Styles */
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  color-scheme: light dark;
  color: var(--color-text-dark);
  background-color: var(--color-background-dark);
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
  font-family: var(--font-main);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

@media (prefers-color-scheme: light) {
  :root {
    color: var(--color-text-light);
    background-color: var(--color-background-light);
  }
  
  button {
    background-color: var(--color-button-light);
  }
}